/*BODY*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 1400px) {
    body {
        background-image: linear-gradient(to right, white 80%, grey);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}


/*HEADER*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 1400px) {
    #logoheader {
        width: 100% ;
    }

    .logo {
        float: none;
        width: 100%;
        
    }

    .right {
        display: none;
    }
}


/*NAV*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 1400px) {
    #menuprincipal {
        clear: none;
        background-image: linear-gradient(to top, rgb(6, 6, 131), rgb(0, 0, 0));
        width: 100%;
    }
    
    #menuprincipal ul {
        width: 100%;
    }
    
    #menuprincipal li {
        float: none;
        font-size: 1.5em;
        margin-bottom: 5%;
    }
    
    #menuprincipal a {
        text-decoration: none;
        color: #fff;
    }

    .aleft {
        margin-left: 0;
    }
}


/*MAIN*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 1400px) {
    #corpo {
        width: 100%;
    }
    
    h1 {
        background-color: rgb(1, 1, 54);
        color: #fff;
        text-align: center;
        width: 100%;
        font-size: 2em;
    }

    .article1  {
        float: none;
        width: 90%;
        margin-top: 10%;
    }

    .article2 {
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }
    
    .article1 h2 {
        font-size: 2em;
        text-align: center;
        margin: 2% 0 2% 0;
    }
    
    .article2 h2 {
        font-size: 2em;
        text-align: center;
        margin: 2% 0 2% 0;
    }

    .article1 p {
        width: 90%;
        font-size: 1.2em;
        text-align: justify;
    }
    
    .article2 p {
        width: 90%;
        font-size: 1.2em;
        text-align: justify;
    }
    
    .imagem {
        width: 50%;
        margin-left: 23%;
        margin-bottom: 25px;
    }
}


/*FOOTER*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 1400px) {
    footer {
        margin-top: 0;
        background-image: linear-gradient(to top, rgb(6, 6, 131), rgb(0, 0, 0));
        width: 100%;
        color: white;
        text-align: center;
        padding: 2% 0 2% 0;
        clear: none;
    }

    #containerrodape {
        width: 100%;
    }

    .rodape {
        float: none;
        width: 50%;
        text-align: center;
        font-size: 1.5em;
    }

    #menurodape {
        margin-left: 0%;
    }

    #menurodape ul {
        list-style: none;
    }

    #menurodape ul li {
        display: none;
        margin: 0;
        font-size: 0;
    }

    #menurodape li a {
        margin-left: 0%;
        text-decoration: none;
        color: white;
    }

    #menurodape a:hover {
        color: none;
    }

    .copy {
        clear: none;
        width: 80%;
        margin-top: 5%;
        font-size: 1.2em;
    }
}


/*WHATSAPP*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 1400px) {
    #whatsapp {
        position: fixed;
        left: 2%;
        bottom: 2%;
    }

    .whatsapp {
        height: 20%;
        width: 20%;
    }
}